In [12]:
import json
import pandas as pd

In [5]:
stats = json.loads(open("../outputs/occupied_day.json").read())
stats = stats["stats"]

In [7]:
len(stats)

364

In [9]:
f = open("../outputs/occupied_day.csv","w")
f.write("date,desks.occupied\n")
for stat in stats:
    f.write(stat["dateTime"].split("T")[0] + "," + str(stat["value"]) + "\n")
f.close()

In [13]:
df = pd.read_csv("../outputs/occupied_day.csv")

In [14]:
df

           date  desks.occupied
0    2017-01-01               0
1    2017-01-02               0
2    2017-01-03               0
3    2017-01-04               0
4    2017-01-05               0
5    2017-01-06               0
6    2017-01-07               0
7    2017-01-08               0
8    2017-01-09               0
9    2017-01-10               0
10   2017-01-11               0
11   2017-01-12               0
12   2017-01-13               0
13   2017-01-14               0
14   2017-01-15               0
15   2017-01-16               0
16   2017-01-17               0
17   2017-01-18               0
18   2017-01-19               0
19   2017-01-20               0
20   2017-01-21               0
21   2017-01-22               0
22   2017-01-23               0
23   2017-01-24               0
24   2017-01-25               0
25   2017-01-26               0
26   2017-01-27               0
27   2017-01-28               0
28   2017-01-29               0
29   2017-01-30               0
..          ...             ...
334  2017-12-01               0
335  2017-12-02               0
336  2017-12-03               0
337  2017-12-04               0
338  2017-12-05               0
339  2017-12-06               0
340  2017-12-07               0
341  2017-12-08               0
342  2017-12-09               0
343  2017-12-10               0
344  2017-12-11               0
345  2017-12-12               0
346  2017-12-13               0
347  2017-12-14               0
348  2017-12-15               0
349  2017-12-16               0
350  2017-12-17               0
351  2017-12-18               0
352  2017-12-19               0
353  2017-12-20               0
354  2017-12-21               0
355  2017-12-22               0
356  2017-12-23               0
357  2017-12-24               0
358  2017-12-25               0
359  2017-12-26               0
360  2017-12-27               0
361  2017-12-28               0
362  2017-12-29               0
363  2017-12-30               0

[364 rows x 2 columns]